@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@theme {
  --blue-950: #000814;
  --blue-950: #001d3d;
  --blue-950: #003566;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}
